<ion-view view-title="Menu">
    <ion-content class="padding">
        <div class="button-bar">
            <div class="button">
                <a><i class="ion-navicon-round"></i><span>First</span></a>
            </div>   
            <a class="button">Third</a>
        </div>
        <br/>
        <div class="button-bar">
            <div class="button">
                <a><i class="ion-navicon-round"></i><span>First</span></a>
            </div>
            <a class="button">Third</a>
        </div>
    </ion-content>
</ion-view>
